.main_area {
    /* display: flex; */
    background-color: white;
    text-align: center;
}

.main_heading {
    padding-top: 20px;
    font-size: 20px;
    font-weight: 700;
    color: #000;
}

.UI {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f7f8fa;
    height: 300px;
    margin-left: 20px;
    margin-right: 20px;
}

.inputNumber{
    height:48px;
    width: 100px;
}
.inputRange{
    margin-left: -10px;
    margin-top:15px;
    width: 300px;
}
.radio{
    text-align: left;
    margin-left: 25px;
}
.radioBtn{
    margin-left: 5px;
}
.radioText{
    margin-left: 30px;
}
::placeholder {
    color: gray;
    opacity: 0.4;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: gray;
    opacity: 0.5;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: gray;
    opacity: 0.5;
}
.password_area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
.input_group{
    justify-content: center;
}

.pInput{
    border: 2px solid #E3E7ED;
}

.UI .bars .bar1 {
    background-color: red;
    height: 5px;
    width: 150px;
    margin-right: 20px;
}
.UI .bars .bar2 {
    background-color: orange;
    height: 5px;
    width: 150px;
    margin-right: 20px;
}
.UI .bars .bar3 {
    background-color: lightgreen;
    height: 5px;
    width: 150px;
    margin-right: 20px;
}
.UI .bars .bar4 {
    background-color: #5aa807;
    height: 5px;
    width: 150px;
    margin-right: 20px;
}

.icons {
    display: flex;
    justify-content: center;
    padding: 0 0 20px 0;
    column-gap: 60px;
    row-gap: 30px;
}
.img_span{
    border: 2px solid #E3E7ED;
}
